body {
	width: 80%;
	margin: auto;
	border-width: 1px;
	border-style: solid;
	/*background-color: yellow;*/
}

body div.entete {
	text-align: center;
	/*position: fixed;*/
	width: 100%;
	background-color: gray;
	/*top: 0px;*/
}

body div.entete h1 {
	text-align: center;
	width: 100%;
	margin:auto;
}

body div.content {
	padding: 2em;
	text-align: justify;
	background-color: yellow;
}

/*classe permettant le placement de la barre inferieur fixe par rapport à l'ecran*/
.barreInferieurFixe {
	bottom: 0px;
	position: fixed;
	width: 80%;
/* 	height: 40px; */
	background-color: gray;
	display: inline-block;
}

/*classe definissant la position du menu de droite*/
.barreInferieurFixe .menuRight {
	width: 200px;
/* 	height: 40px; */
	float: right;
	background-color: orange;
	display: inline-block;
}

.barreInferieurFixe .menuLeft {
	width: 200px;
/* 	height: 40px; */
	float: left;
	background-color: orange;
	display: inline-block;
}

.menuCentral {
	width: 200px;
	float: left;
	background-color: orange;
	display: inline-block;
	text-align: left;
}

.barreInferieurFixe .menuRight .contentMenu .menuDeroulant {
	
}

/*classe representant l'ensemble menu deroulant et titre*/
.barreInferieurFixe .menuRight .contentMenu {
	background-color: purple;
	/*background-color: gray;*/
	position: relative;
	overflow: hidden;
	height: 0px;
	top: 0px;
}

/*classe representant le titre du menu*/
.barreInferieurFixe .menuRight .title { /*background-color: blue;*/
	/*ces proprietes servent a avoir un titre immobile lors de l'animation du menu*/
	position: absolute;
/* 	top: -15px; */
	background-color:brown;
	width: 200px;
	text-align: center;
	cursor: default;
}

.menu ul.deroulable li {
	padding: 5px;
	display: inline;
}

.menu ul.deroulable li:HOVER {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	[if lt IE 9]	behavior: url('./PIE.htc');
	background-color: red;
}

.menu ul.deroulable {
	padding: 0px;
}

.flow .item, .flow .item div {
	display: inline;
	cursor: pointer;
}

.flow .item img {
/* 	display: none; */
}

a, a:VISITED {
	color: navy;
}
