/* Dock */
.dock {
	display: block;
	margin: 30px auto;
	top: 0px;
	width: 100%;
	text-align: center;
}

.dock ul {
	padding: 0px;
	list-style: none;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
}

/* Dock Icons */
.dock li {
	display: inline-block;
	vertical-align: bottom;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow: visible;
}

.dock li a {
	width: 48px;
	display: block;
	text-align: center;
	position: relative;
	text-decoration: none;
	color: black;
	white-space: normal;
	letter-spacing: normal;	
	text-align: center;
	overflow: visible;
}

body.no_js .dock li a:hover {
	width: 128px !important;
}

.dock li a span {
	position: absolute;
	line-height: 1.3em;
	display: none;
	text-align: center;
	font-weight: bold;
	width: 100%;
	
	background-color: gray;
	
	opacity: 0.4;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	
	margin: 0px auto;
	
	top: -80px;
	left: 0;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.dock li a:hover span {
	display: inline-block;
}

.dock li a img {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	border: 0px none;
	
/* 	box-reflect: below 1px gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255,255,255,0.1))); */
/* 	-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255,255,255,0.1))); */
/* 	-moz-box-reflect: below 1px -moz-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255,255,255,0.1))); */
}